# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ANZAutoTest.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\filjo\source\repos\ANZAutoTest\.idea\.idea.ANZAutoTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
